body{
    background-color: #1E252B;
}

.container{
    padding-left: 108px;
    padding-right: 108px;
    width: 1224px;
}

.logo{
    font-family: Poppins;
    font-size: 22px;
    font-weight: 600;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFFE5;
    margin-top: 34px;    
    margin-left: 257px;
}

.nav-list-link{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF8C;
    margin-top: 34px; 

}

.nav-list-link-blog{
    margin-top: 34px;    
    margin-left: 193px;  
}

.registration-list-btn-login{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFFC7;
    background-color: #1E252B;
    margin-top: 34px;
}

.registration-list-btn-sign{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #FDF5FF;
    background-color: #1E252B;
    margin-top: 26px;
}

.registration-list-btn-sign:hover{
    background-color: #FF6E30;
}

.hero-title{
    font-family: Poppins;
    font-size: 50px;
    font-weight: 500;
    line-height: 70px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 0.9);
    margin-top: 104px;
}

.hero-title-point{
    color: #FF6E30;
    margin-top: 104px;
}

.hero-text{
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF8C;
    margin-top: 30px;
}

.hero-form-input{
    background: linear-gradient(0deg, #283036, #283036),
    linear-gradient(90.89deg, rgba(255, 255, 255, 0.1) -1.67%, rgba(255, 255, 255, 0) 103.73%);
    border: 1.5px solid;
    width: 497.66px;
    height: 64px;
    border-radius: 15px;
    margin-top: 60px;
}

.hero-form-btn{
    width: 130.43px;
    height: 48px;
    border-radius: 8px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    background-color: #1E252B;
    color:#FFFFFF;
    margin-top: 68px;
}

.socials-list-img{
    margin-top: 110px;
}

.hero-form-btn:hover{
    background: #FF6E30;
}

.tools-list-img{
    margin-top: 128px;
}

.tools-title{
    font-family: Poppins;
    font-size: 48px;
    font-weight: 500;
    line-height: 62px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFFE5;
    margin-top: 200px;
}

.tools-text{
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF8C;
    margin-top: 25px;
}

.tools-list-title{
    font-family: Poppins;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFFC7;
    margin-top: 123px;
}

.tools-list-text-1{
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFA5378C;   
    margin-top: 3px;
}

.tools-list-text-2{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF8C;
    margin-top: 30px;
}

.tools-list-list-img1{
    width: 42px;
    height: 42px;
    border-radius: 8px;
    margin-top: 30px;
}

.tools-list-list-img{
    width: 42px;
    height: 42px;
    border-radius: 8px;
    margin-top: 30px;
}

.tools-btn{
    width: 106px;
    height: 42px;
    border-radius: 8px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    background-color: #1E252B;
    margin-top: 30px;
}

.tools-btn:hover{
    background-color: #FF6E30;
}

.tools-btn-2{
    width: 184px;
    height: 64px;
    border-radius: 8px;
    border: 1px solid black;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;    
    color: #FF6E30;
    background: linear-gradient(0deg, #1E252B, #1E252B),
    linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
    margin-top: 100px;
}

/* .brands{
    border: 2px solid;
    background-image: linear-gradient(92.39deg, rgba(255, 255, 255, 0.05) -4.6%, rgba(255, 255, 255, 0) 96.79%);
    border-radius: 25px;
} */

.brands-title{
    font-family: Poppins;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFFCC;
    margin-top: 255px;
}

.brands-list-img{
    width: 1059px;
    height: 51px;
    margin-top: 55px;
}

.newcomer-title{
    font-family: Poppins;
    font-size: 48px;
    font-weight: 500;
    line-height: 62px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFFE5;
    margin-top: 220px;
}

.newcomer-text{
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF8C;    
    margin-top: 30px;
}

.newcomer-btn{
    width: 198px;
    height: 58px;
    border-radius: 8px;
    color: #FFFFFF;
    background-color: #1E252B;
    margin-top: 60px;
}

.newcomer-btn:hover{
    background-color: #FF6E30;
}

.newcomer-list-img{
    width: 64px;
    height: 64px;
    padding: 10px, 4px, 10px, 4px;
    opacity: 0.78px;
    margin-top: 249px;
}

.newcomer-list-img1{
    width: 64px;
    height: 64px;
    margin-top: 249px;
}

.newcomer-list-title{
    font-family: Poppins;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFFC7;
    margin-top: 248px;
}

.newcomer-list-text-1{
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFA5378C;
    margin-top: 3px;
}

.newcomer-list-text-2{
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF8C;
    margin-top: 30px;
}

.newcomer-list-sublist-img{
    margin-top: 30px;
    margin-bottom: 28px;
}

.newcomer-list-item-btn{
    font-family: Poppins;
    width: 106px;
    height: 42px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF8C;    
    background-color: #1E252B;
    margin-top: 30px;
    margin-bottom: 28px;
}

.newcomer-list-item-btn:hover{
    background-color: #FF6E30;
}

.newcomer-list-item-btn1{
    width: 106px;
    height: 42px;
    border-radius: 8px;  
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;   
    background-color: #1E252B; 
    margin-top: 30px;
    margin-bottom: 28px;
}

.newcomer-list-item-btn1:hover{
    background-color: #FF6E30;
}

.newcomer-list-img1{
    width: 64px;
    height: 64px;  
    margin-top: 229px;
}

.newcomer-list-title1{
    font-family: Poppins;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFFE5;  
    margin-top: 228px;  
}

.newcomer-list-text-11{
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFA537;  
    margin-top: 3px;  
}

.newcomer-list-text-22{
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFFC7;    
    margin-top: 30px;
}

/* .testimonial-team{
    background: linear-gradient(0deg, rgba(40, 48, 54, 0.2), rgba(40, 48, 54, 0.2)),
linear-gradient(96.67deg, rgba(255, 255, 255, 0.1) -5.21%, rgba(255, 255, 255, 0) 93.75%);
border: 1px solid;
border-image-source: linear-gradient(96.67deg, rgba(255, 255, 255, 0.1) -5.21%, rgba(255, 255, 255, 0) 93.75%);
} */

.testimonial-img{
    margin-top: 200px;
}

.testimonial-team-title{
    font-family: Poppins;
    font-size: 26px;
    font-weight: 500;
    line-height: 39px;
    letter-spacing: 0.015em;
    text-align: left;
    color: #FFFDFDC7;
    padding-top: 10px;
    padding-left: 23px;
    padding-right: 22px;
}

.testimonial-team-text{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFDFD8C;    
    padding-top: 2px;
    padding-left: 23px;
    padding-right:103px;
}

.testimonial-Group_1430-text{
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.015em;
    text-align: left;
    color: #FFFFFFC7;  
    margin-top: 328px;  
}

.testimonial-Group_1430-img{
    width: 103px;
    height: 320px;
    rotate: -19.17 deg;  
    margin-top: 218px;
}

.testimonial-Group_1430-list{
    margin-top: 100px;
}

.testimonial-Group_1430-list-item{
    width: 44px;
    height: 8px;
    border-radius: 4px;  
}

.testimonial-Group_1430-list-item:hover{
    background-color: #FF6E30;
}

.join-title{
    font-family: Poppins;
    font-size: 48px;
    font-weight: 500;
    line-height: 62px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFFE5;   
    margin-top: 250px;
}

.join-text{
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF8C; 
    margin-top: 25px;   
}

.join-Group_1439-input{
    width: 512.44px;
    height: 48px;
    border-radius: 8px;   
    margin-top: 100px;
    padding-top: 8px;
    padding-left: 24.18px;
    padding-right: 12.38px;
    padding-bottom: 8px;
}

.join-Group_1439-btn{
    width: 130.43px;
    height: 48px;
    border-radius: 8px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    background-color: #1E252B;
    margin-top: 108px;
    padding-top: 8px;
    padding-left: 406.19px;
    padding-right: 12.38px;
    padding-bottom: 8px;
}

.join-Group_1439-btn:hover{
    background-color: #FF6E30;
}

.footer-inform{
    margin-right: 156px;
}

.footer-inform-a{
    margin-top: 70px;
}

.footer-inform-span{
    font-family: Poppins;
    font-size: 22px;
    font-weight: 600;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFFE5; 
}

.footer-inform-text{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFFE5;    
    padding-top: 25px;
}

.footer-inform-text-2{
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF8C; 
    padding-top: 21px;
}

.footer-contacts-title{
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFFE5; 
    margin-top: 70px;   
}

.footer-contacts-address-list-a{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF8C;    
    margin-top: 10px;
}

.footer-contacts-address-list-a-number{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF8C;    
    margin-top: 20px;
}

.footer-categories-title{
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFFE5;
    margin-top: 70px;
}

.footer-categories-text{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF8C; 
    margin-top: 10px;
}

.footer-categories-text-design{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF8C;  
    margin-top: 20px;  
}

.footer-info-title{
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFFE5; 
    margin-top: 70px;   
}

.footer-info-list-a{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF8C;  
    margin-top: 10px;  
}

.footer-info-list-a-about-us{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF8C; 
    margin-top: 20px;   
}